/* 
	Style CSS du site de la prépa TSI de Troyes
*/



/***************************** GLOBAL ****************************/
/*
html{ margin : 0 ; background :#D8D8D8 url(img/bkg.png);}
*/
/*
html{ margin : 0 ; background :#D8D8D8;}
*/
html{ margin : 0 ; background :#D8D8D8 url(img/bkg.png);}
body
	{
	font-size	: 14px;
	background-color: transparent;
	color		: #444;
/*
	margin		: 0 1em 0 13em ;
*/
	margin		: 0 1em ;
	padding		: 0;
	font-family : 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	overflow	: scroll;  /* Avoids dancing menu */
	overflow-x	: auto; /* IE: horizontal bar is sooo large */
	}
	
#body
	{
	border-top	: 0px solid #6c6; /* Required: Fixes spacing bug */
	line-height : 130%;
	font-size	: 100%;
	_font-size	: 100%; /* IE: Font becomes ugly with 90% */
	}
	
#body h1, h2, h3, h4, h5, h6 {
  color: #002B36;
  background-color: transparent;
  font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  margin: 0;
  padding-top: 0.5em;
}

/* Normal text is gray, bold is black */
#body b
	{
	font-weight : bold;
	color		: black;
	}

a
	{
	text-decoration : none;
	}
a:link
	{
	color		: blue;
	font-weight : bold;
	}
a:hover
	{
	text-decoration : underline;
	background		: #ccf;
	}
a:visited
	{
	color		: #66f;
	}

code
	{
	background-color: #eee;
	border		: 1px dotted #ddd;
	}
blockquote {
	background-color: #D8D8D8;
	font-size	: 110%;
	padding		: .8em .8em;
	border-color	: #67939B;
	border-radius	: 10px;
	border-style	: solid;
	font-weight	: bold;
	margin	:	auto;
	text-align:	center;
	width : auto;
}
pre
	{
	background-color: #eee;
	margin-left : 3em;
	margin-right	: 2em;
	padding		: 8px;
	border		: 1px outset gray;
	}

/*
table
	{
	font-size	: 100%; 
	border-color	: #ccc;
	border-style	: solid;
	}
th
	{
	background-color: #D8D8D8;
	font-size	: 110%;
	padding		: .5em .5em;
	border-color	: #67939B;
	border-style	: solid;
	}
td
	{
	border-style	: none;
	padding		: .2em .5em;
	}
*/
table {
/*
	font-family: verdana,arial,sans-serif;
*/
	font-size: 75%;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table td {
	border-width: 1px;
	padding: 8px;
	border-style: none;
	border-color: #666666;
}

form
	{
	margin-bottom	: 2em;
	}

span.tooltip
	{
	border-bottom	: 1px dashed #444;
	}
span.tooltip:hover
	{
	background-color: #cf9;
	}
a.donate
	{
	font-size	: smaller;
	text-align	: center;
	margin		: 0;
	padding		: 0;
	}

img
	{
	margin : 0em .5em 0em 0em	;
	}

/***************************** HEADERS **************************** 
/ Du bon gros bricolage à la Noury
/ Promis, je détaillerais
*/

#header
	{
	background	: #464F53;
	color		: white;
	border-top-left-radius : 1em;
	border-top-right-radius : 1em;
	border-bottom: 5px solid #67939B;
/*
	margin		: 0 -1em ;
*/
	margin		: 1em 0 0 0 ;
	padding		: 1em;
	}

#header *
	{
	margin		: 0;
	}
#header h3
	{
	color: white;
	font-weight : normal;
	}
#header a
	{
	color		: white;
	text-decoration : none;
	}
#header a:hover
	{
	background	: transparent;
	}



/***************************** CONTENU **************************** 
/ 2 Containers au body : Les classes .body le tout et 
/ .contenu (le truc gris)
*/

#contenu {
	background: #F3EBEB;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
/*
	margin-right: 14em;
*/
	overflow: hidden;
	padding: 0 2em 0em ;
}
#contenu h1 {
  font-size: 160%;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #B58900;
}
#contenu h2 {
  font-size: 140%;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #839496;
}
#contenu h3 {
  font-size: 130%;
  margin-bottom: 0.5em;
  text-decoration: underline;
}
#contenu h4 {
  font-size: 110%;
  font-weight: bold;
}
#contenu h5 {
  font-size: 100%;
  font-weight: bold;
}
#contenu h6 {
  font-size: 80%;
  font-weight: bold;
}

#contenu img {
	max-width : 100% ;
	height : auto;
}
/***************************** SIDEBAR **************************** 
/ La barre sur le coté
*/

#sidebar
	{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	font: 40%;
	width		: 12em;
	background-color: #464F53;
	color		: #FFFFFF;
	border-color	: #FFFFFF;
	border-style	: solid;
	border-width	: 0 0 0 3px;
	margin		: 0 0 0 -1.8em;
	padding		: 1em;
	z-index		: 1;
	overflow: auto;
	_width		: 11.5em;
	_margin		: 0 0 0 1em;
	}
	
#sidebar a
	{
	font : 40% ;
	display		: block;
	color		: #FFFFFF;
	font-weight : normal;
	}
#sidebar a:hover
	{
	color	: #464F53;
	background-color: #67939B;
	}
#sidebar ul {
	margin		: 0 0 0 1em;
	padding		: 0;
}
#sidebar ul li {
	list-style-type : none;
	_border		: 1px solid #cf9;  /* IE: fixes spaced items bug */
}
#sidebar p
	{
	margin		: 0;
	}
#sidebar img
	{
	display		: block;
	margin		: 1em auto 0 auto;
	_text-align : center; /* IE: margin:auto didn't work */
	}
#sidebar h1,h2,h3,h4 {
	border-bottom : none ;
	text-decoration	:	none ;
}

/* A special link with the lang ID, placed at the top/right edge */
#sidebar a#lang
	{
	float		: right;
	margin		: -1em -1em 0 0;
	_margin-right	: -.5em; /* IE: well... */
	font-size	: 80%;
	}
/***************************** Encarts **************************** 
/ Les notes dans les cours
*/

#encart
	{
	float		: right;
    width		: 11.5em;
	background-color: #CF9;
	color		: #3C3C3C;
	border-radius : 5px;
	border-style	: solid;
	border-width	: 0px;
/*
	margin		: 0 auto 0em 2em;
*/
	padding		: 1em;
	/* IE: Box model strikes again */
	_width		: 11.5em;
/*
	_margin		: 0 -1em 0 2em;
*/
	}
#encart a
	{
	display		: block;
	color		: #363;
	font-weight : normal;
	}
#encart a:hover
	{
	background-color: #ad7;
	}
#encart ul {
	margin		: 0 0 0 1em;
	padding		: 0;
}
#encart ul li {
	list-style-type : none;
	_border		: 1px solid #cf9;  /* IE: fixes spaced items bug */
}
#encart p
	{
	margin		: 0;
	}

/* A special link with the lang ID, placed at the top/right edge */
#encart a#lang
	{
	float		: right;
	margin		: -1em -1em 0 0;
	_margin-right	: -.5em; /* IE: well... */
	font-size	: 80%;
	}


/* La barre de navigation en haut */
#nav {
		background: #464F53;
		border-top : 5px solid #67939B;
		font-size: 90%;
		height: 4em;
		line-height: 3em;
		margin: 0em auto 0em 0;
		padding: 0;
		width: 100%;
		
/*
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		-moz-border-bottom-left-radius: 5px;
		-moz-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
*/
		}
	
#nav ul {list-style: none; margin: auto auto;}
#nav li {float: left; display: inline; margin: 0;}
#nav a:link, #nav a:visited { color: #fff;	display: inline-block;	height: 3em; 	padding: .5em 1.5em; margin : auto 0; 	text-decoration: none; }
#nav a:hover, #nav a:active,#nav .active a:link, #nav .active a:visited {background: #67939B; color: #fff; text-shadow: none !important;}

/****************************** FOOTER **************************** 
/ Juste une p'tite ligne pour le principe
*/

#footer
	{
	margin		: 1em 0 0 0;
	padding		: .3em;
	border-top	: 1px solid #ccc;
	font-size	: 70%;
	color		: #333333; 
	clear		: both;
	}
