/* 
	Style CSS du site de la prépa TSI de Troyes
*/



/***************************** GLOBAL ****************************/
/*
html{ margin : 0 ; background :#D8D8D8 url(img/bkg.png);}
*/
/*
html{ margin : 0 ; background :#D8D8D8;}
*/
html{ margin : 0 ; background :#D8D8D8 url(img/bkg.png);}
body
	{
	font-size	: 14px;
	background-color: transparent;
	color		: #444;
	margin		: 0 auto;
	padding		: 0;
	width		: 840px;
/*
	width		: 80em;
*/
	font-family : 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	overflow	: scroll;  /* Avoids dancing menu */
	overflow-x	: auto; /* IE: horizontal bar is sooo large */
	}

a
	{
	text-decoration : none;
	}
a:link
	{
	color		: blue;
	font-weight : bold;
	}
a:hover
	{
	text-decoration : underline;
	background		: #ccf;
	}
a:visited
	{
	color		: #66f;
	}

code
	{
	background-color: #eee;
	border		: 1px dotted #ddd;
	}
blockquote {
	background-color: #D8D8D8;
	font-size	: 110%;
	padding		: .8em .8em;
	border-color	: #67939B;
	border-radius	: 10px;
	border-style	: solid;
	font-weight	: bold;
	
}
pre
	{
	background-color: #eee;
	margin-left : 3em;
	margin-right	: 2em;
	padding		: 8px;
	border		: 1px outset gray;
	}

table
	{
	font-size	: 100%; /* Needed to inherit the body font size*/
	border-color	: #ccc;
	}
th
	{
	background-color: #D8D8D8;
	font-size	: 110%;
	padding		: .5em .5em;
	border-color	: #67939B;
	border-style	: solid;
	}
td
	{
	border-style	: none;
	padding		: .2em .5em;
	}

form
	{
	margin-bottom	: 2em;
	}

span.tooltip
	{
	border-bottom	: 1px dashed #444;
	}
span.tooltip:hover
	{
	background-color: #cf9;
	}
a.donate
	{
	font-size	: smaller;
	text-align	: center;
	margin		: 0;
	padding		: 0;
	}

img
	{
	margin : 0em .5em 0em 0em	;
	}

/***************************** HEADERS **************************** 
/ Du bon gros bricolage à la Noury
/ Promis, je détaillerais
*/
#body h1, h2, h3, h4, h5, h6 {
  color: #002B36;
  background-color: transparent;
  font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  margin: 0;
  padding-top: 0.5em;
}

#contenu h1 {
  font-size: 160%;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #B58900;
}
#contenu h2 {
  font-size: 140%;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #839496;
}
#contenu h3 {
  font-size: 130%;
  margin-bottom: 0.5em;
  text-decoration: underline;
}
#contenu h4 {
  font-size: 110%;
  font-weight: bold;
}
#contenu h5 {
  font-size: 100%;
  font-weight: bold;
}
#contenu h6 {
  font-size: 80%;
  font-weight: bold;
}

#header
	{
	background	: #464F53;
	color		: white;
	border-top-left-radius : 1em;
	border-top-right-radius : 1em;
	border-bottom: 5px solid #67939B;
	margin		: 1em 0 0 0;
	padding		: 1em;
	}

#header *
	{
	margin		: 0;
	}
#header h3
	{
	color: white;
	font-weight : normal;
	}
#header a
	{
	color		: white;
	text-decoration : none;
	}
#header a:hover
	{
	background	: transparent;
	}



/***************************** CONTENT **************************** 
/ 2 Containers au body : Les classes .body le tout et 
/ .contenu (le truc gris)
*/

#body
	{
	margin		: 0em 0 ;
	
/*
	padding		: 0 2em 2em 2em;
*/
	padding		: 0em 0em 0em 0em;
	border-top	: 0px solid #6c6; /* Required: Fixes spacing bug */
	line-height : 130%;
	font-size	: 100%;
	_font-size	: 100%; /* IE: Font becomes ugly with 90% */
	}

/* Normal text is gray, bold is black */
#body b
	{
	font-weight : bold;
	color		: black;
	}

/*
#body h1
	{
	margin-top	: 1.5em;
	}
#body h2
	{
	padding-top : 1em;
	color		: #444;
	font-size	: 150%;
	font-weight : bold;
	}
*/

#contenu {
	background: #F3EBEB;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    float: middle;
    margin: 0em auto;
	overflow: hidden;
	padding: 0 2em 1em ;
	min-width: 500px;
}

/***************************** SIDEBAR **************************** 
/ La barre sur le coté
*/

#sidebar
	{
	float		: right;
/*
	position	: fixed;
*/
/*
	right: 5%;
*/
    width		: 11.5em;
/*
	background-color: #CF9;
*/
	background-color: #464F53;
	color		: #030;
/*
	border-color	: #fff;
*/
	border-radius : 10px;
	border-style	: solid;
	border-width	: 0px;
	border-color	: #67939B;
	margin		: 0 auto 1em 2em;
	padding		: 1em;
	z-index		: 1;
	/* IE: Box model strikes again */
	_width		: 11.5em;
	_margin		: 0 -1em 0 2em;
	}
#sidebar a
	{
	display		: block;
	color		: #97B6BB;
	font-weight : normal;
	}
#sidebar a:hover
	{
	background-color: #67939B;
	color	:	#fff;
	}
#sidebar ul {
	margin		: 0 0 0 1em;
	padding		: 0;
}
#sidebar ul li {
	list-style-type : none;
	_border		: 1px solid #cf9;  /* IE: fixes spaced items bug */
}
#sidebar p
	{
	margin		: 0;
	}
#sidebar img
	{
	display		: block;
	margin		: 1em auto 0 auto;
	_text-align : center; /* IE: margin:auto didn't work */
	}
#sidebar h1,h2,h3,h4 {
	border-bottom : none ;
	text-decoration	:	none ;
}

#sidebar h3 {
	color : #fff ;

}
/* A special link with the lang ID, placed at the top/right edge */
#sidebar a#lang
	{
	float		: right;
	margin		: -1em -1em 0 0;
	_margin-right	: -.5em; /* IE: well... */
	font-size	: 80%;
	}


/* La barre de navigation en haut */
#nav {
		background: #464F53;
		border-top : 5px solid #67939B;
		font-size: 90%;
		height: 4em;
		line-height: 3em;
		margin: 0em auto 0em 0;
		padding: 0;
		width: 100%;
		
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		-moz-border-bottom-left-radius: 5px;
		-moz-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		}
	
#nav ul {list-style: none; margin: auto auto;}
#nav li {float: left; display: inline; margin: 0;}
#nav a:link, #nav a:visited { color: #fff;	display: inline-block;	height: 3em; 	padding: .5em 1.5em; margin : auto 0; 	text-decoration: none; }
#nav a:hover, #nav a:active,#nav .active a:link, #nav .active a:visited {background: #67939B; color: #fff; text-shadow: none !important;}

/****************************** FOOTER **************************** 
/ Juste une p'tite ligne pour le principe
*/

#footer
	{
	margin		: 3em 0 0 0;
	padding		: .3em;
	border-top	: 1px solid #ccc;
	font-style	: italic;
	font-size	: 80%;
	clear		: both;
	}
#footer p
	{
	padding		: 0;
	margin		: 0;
	}
#footer a
	{
	font-weight : normal;
	}
#footer #validate
	{
	float		: left;
	}
#footer img
	{
	float		: left;
	vertical-align  : middle;
	margin : 5px;
	border : 5px;
	}

/******* Current menu item detection
/ A partir d'ici, c'est allègrement que j'ai repompé.
/
/ Now breath. This is a CSS black magic.
/
/ All pages use a special %!postproc to add an ID to it's <body> tag.
/ All menu items have their own ID also.
/ If we have unique identifiers for pages and menu items, we can
/ combine them to know which is the item for a specific page.
/
/ This is what the following rules do.
/ They add special formatting only for the current page menu item.
/
/ Reading the first: If we're on the #home page, add the bullet
/ for the list item #menuhome, inside the sidebar.
*/

/************************** PAGE SPECIFIC ************************* 
/ Since all the pages have an unique ID on <body> tag, we can set
/ specific rules in a breeze, avoiding %!postproc tricks on sources,
/ or multiple tiny CSS files all around.
*/
